{% comment %} 
        Renders product buy-buttons.
        Accepts: 
        - product: {Object} product object. 
        - block: {Object} passing the block information. 
        - product_form_id: {String} product form id. 
        - section_id: {String} id of section to which this snippet belongs. 
        - show_pickup_availability: {Boolean} for the pickup availability. If true the pickup availability is rendered, false - not rendered (optional).
       
        Usage:
        {% render 'buy-buttons', block: block, product: product, product_form_id: product_form_id, section_id: section.id, show_pickup_availability: true %} 
{% endcomment %}
<div {{ block.shopify_attributes }} class="mb-20 tp-buy-button">
  {% if product.metafields.custom.external_affiliate %}
    {% for button in shop.metaobjects.button.values %}
      <a
        href="{{ button.link | default: "#" }}"
        target="_blank"
        class="tp-btn tp-btn__primary n-hvr w-full">
        {{ button.label | escape }}
      </a>
    {% endfor %}
  {% else %}
    {%- if product != blank -%}
      {%- liquid
        assign gift_card_recipient_feature_active = false
        if block.settings.show_gift_card_recipient and product.gift_card?
          assign gift_card_recipient_feature_active = true
        endif

        assign show_dynamic_checkout = false
        if block.settings.show_dynamic_checkout and gift_card_recipient_feature_active == false
          assign show_dynamic_checkout = true
        endif
      -%}
      <product-form class="product-form" data-hide-errors="{{ gift_card_recipient_feature_active }}">
        {%- form 'product'
          ,
 product
          ,
 id: product_form_id
          ,
 class: 'form'
          ,
 novalidate: 'novalidate'
          ,
 data-type: 'add-to-cart-form'
        -%}
          <input
            type="hidden"
            name="id"
            value="{{ product.selected_or_first_available_variant.id }}"
            disabled
            class="product-variant-id">
          {% if input_quantity_sticky %}
            <input
              type="hidden"
              name="quantity"
              value="1"
              class="input-quantity-sticky">
          {% endif %}
          {% if input_quantity %}
            <input
              type="hidden"
              name="quantity"
              value="1"
              class="input-quantity-quick-view">
          {% endif %}
          {%- if gift_card_recipient_feature_active -%}
            {%- render 'gift-card-recipient-form'
              , product: product
              , form: form
              , section: section -%}
          {%- endif -%}

          <div class="product-form__buttons">
            {%- liquid
              assign check_against_inventory = true
              if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
                assign check_against_inventory = false
              endif
              if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
                assign quantity_rule_soldout = true
              endif
            -%}
            <button
              id="ProductSubmitButton-{{ section_id }}"
              type="submit"
              name="add"
              class="product-form__submit button button--full-width tp-btn tp-btn__primary mb-12 w-full"
              {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
              disabled
              {% endif %}>
              <span class="product-form-btn-text pointer-events-none">
                {%- if product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                  {{ 'products.product.sold_out' | t }}
                {% elsif product.selected_or_first_available_variant.available and product.selected_or_first_available_variant.inventory_quantity < 1 %}
                  {{ 'products.product.pre_order' | t }}
                {%- else -%}
                  {{ 'products.product.add_to_cart' | t }}
                {%- endif -%}
              </span>
              <span class="tp-loading opacity-0 pointer-events-none" loader>
                {% render 'icon'
                  , icon_name: 'icon-loading'
                  , color: 'var(--base-color)' %}
              </span>
            </button>
            {%- if show_dynamic_checkout -%}
              {% assign text_agree_terms_conditions = block.settings.text_agree_terms_conditions %}
              {% if text_agree_terms_conditions != blank and block.settings.confirm_terms %}
                <div class="mb-8 agreetc-class rsmb-p">
                  <input
                    type="checkbox"
                    class="agree_terms_conditions"
                    id="agree_terms">
                  <label for="agree_terms">
                    {{ block.settings.text_agree_terms_conditions }}</label>
                </div>
              {% endif %}
              {{ form | payment_button }}
            {%- endif -%}
          </div>
        {%- endform -%}
      </product-form>
    {%- else -%}
      <div class="product-form">
        <div class="product-form__buttons form">
          <button
            type="submit"
            name="add"
            class="product-form__submit button button--full-width button--primary"
            disabled>
            {{ 'products.product.sold_out' | t }}
          </button>
        </div>
      </div>
    {%- endif -%}

    {%- if show_pickup_availability -%}
      {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

      {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities
 | where: 'pick_up_enabled', true
      -%}

      <pickup-availability
        class="product__pickup-availabilities no-js-hidden quick-add-hidden"
        {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %}
        available
        {% endif %}
        data-root-url="{{ routes.root_url }}"
        data-variant-id="{{ product.selected_or_first_available_variant.id }}"
        data-has-only-default-variant="{{ product.has_only_default_variant }}">
        <template>
          <pickup-availability-preview class="pickup-availability-preview">
            {% render 'icon'
              , icon_name: 'icon-unavailable' %}
            <div class="pickup-availability-info">
              <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
              <button class="pickup-availability-button link link--text underlined-link">
                {{ 'products.product.pickup_availability.refresh' | t }}
              </button>
            </div>
          </pickup-availability-preview>
        </template>
      </pickup-availability>

      <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
  {% endif %}
</div>