{%- liquid
  assign bst = block.settings
  assign featured_image = collection_item.featured_image
  if type == 'custom' and bst.image
    assign featured_image = bst.image | default: featured_image
  endif
  assign title_collection = collection_item.title
  assign title_collection = bst.heading | default: title_collection
  assign placeholder_image_index = index | modulo: 4 | plus: 1
  assign placeholder_image = 'collection-apparel-' | append: placeholder_image_index
-%}


<div class="collection-item {{ design_collection }} {{ hvr_effect }} overflow-hidden relative">
  <div class="collection-item__image h-full mb-20 {% if featured_image == blank %}no-image{% endif %}">
    <a
      aria-label="links"
      href="{% if collection_item == blank %}#{% else %}{{ collection_item.url }}{% endif %}"
      class="h-full">
      {% render 'responsive-image'
        , image: featured_image
        , aspect_ratio: media_aspect_ratio
        , custom_ratio: custom_ratio
        , images_style: images_style
        , imageDefault: 'collection'
        , placeholder_image: placeholder_image
        , w_default: 330
        , h_default: 330
      %}
    </a>
  </div>
  {% unless show_content == false %}
    <div class="collection-item__infor text-center" style="--fz-heading: {{ bst.font_size_heading |  append: 'px' |  default: 'var(--fz-h4)' }};">
      <div class="infor-inner">
        {% unless design_collection == 'design-3' %}
          <h4 class="collection-item__infor-title mb-0 {% if design_collection == 'design-4' or design_collection == 'design-5' or design_collection == 'design-6' %} h3{% endif %}">
            <a href="{% if collection_item == blank %}#{% else %}{{ collection_item.url }}{% endif %}" class="flex items-center justify-center gap-15 n-hvr">
              {%- if title_collection != blank -%}
                <span class="line-clamp-1">{{- title_collection -}}</span>
              {%- else -%}
                {{- 'onboarding.collection_title' | t -}}
              {%- endif -%}
              {% if design_collection == 'design-1' %}
                <div class="icon-arrow-right shadow">
                  {% render 'icon'
                    , icon_name: 'arrow-right-2' %}
                </div>
              {% endif %}
            </a>
          </h4>
        {% endunless %}
        {% if design_collection == 'design-2' %}
          <a href="{{ collection_item.url | default: "#" }}" class="tp-btn tp-btn__primary n-hvr">
            {{ 'collection.shop' | t }}
          </a>
        {% elsif design_collection == 'design-3' %}
          <a href="{{ collection_item.url | default: "#" }}" class="tp-btn tp-btn__primary n-hvr">
            {{- title_collection -}}
          </a>
        {% elsif design_collection == 'design-5' %}
          <a href="{{ collection_item.url | default: "#" }}" class="tp-btn tp-btn__primary n-hvr">
            Shop Now
          </a>
        {% endif %}

      </div>
    </div>
  {% endunless %}
</div>