{%- if show_arrow != false -%}
  <div class="swiper-navigation shadow swiper-next-{{ class }} swiper-button-next {{ width }}">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="21"
      viewBox="0 0 20 21"
      fill="none">
      <path d="M18 9.85645L11.5312 3.29395C11.25 3.0127 10.8125 3.0127 10.5312 3.29395C10.25 3.5752 10.25 4.0127 10.5312 4.29395L15.7812 9.6377H2.5C2.125 9.6377 1.8125 9.95019 1.8125 10.3252C1.8125 10.7002 2.125 11.0439 2.5 11.0439H15.8437L10.5312 16.4502C10.25 16.7314 10.25 17.1689 10.5312 17.4502C10.6562 17.5752 10.8437 17.6377 11.0312 17.6377C11.2187 17.6377 11.4062 17.5752 11.5312 17.4189L18 10.8564C18.2812 10.5752 18.2812 10.1377 18 9.85645Z" fill="#A3AEB9" />
    </svg>
  </div>
  <div class="swiper-navigation shadow swiper-prev-{{ class }} swiper-button-prev {{ width }}">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="21"
      viewBox="0 0 20 21"
      fill="none">
      <path d="M17.5 9.66895H4.15625L9.46875 4.2627C9.75 3.98145 9.75 3.54395 9.46875 3.2627C9.1875 2.98145 8.75 2.98145 8.46875 3.2627L2 9.8252C1.71875 10.1064 1.71875 10.5439 2 10.8252L8.46875 17.3877C8.59375 17.5127 8.78125 17.6064 8.96875 17.6064C9.15625 17.6064 9.3125 17.5439 9.46875 17.4189C9.75 17.1377 9.75 16.7002 9.46875 16.4189L4.1875 11.0752H17.5C17.875 11.0752 18.1875 10.7627 18.1875 10.3877C18.1875 9.98144 17.875 9.66895 17.5 9.66895Z" fill="#A3AEB9" />
    </svg>
  </div>
{%- endif -%}
{%- if show_bullet != false -%}
  <div class="swiper-pagination swiper-pagination-{{ class }}"></div>
{%- endif -%}