<script src="{{ 'brand.js' | asset_url }}" defer="defer"></script>
{{ 'brand.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign sst = section.settings
  assign container = sst.container
  assign style_layout = sst.style_layout
  assign item_desktop = sst.custom_column
  assign loop = sst.loop
  assign autoplay = sst.autoplay
  assign show_bullet = sst.show_bullet
  assign show_arrow = sst.show_arrow
  assign media_aspect_ratio = sst.image_ratio
  assign custom_ratio = sst.custom_ratio
  assign images_style = sst.images_style
  assign hvr_effect = ''
  if sst.hover_effect == 'hvr_zoom'
    assign hvr_effect = 'hvr__zoom'
  elsif sst.hover_effect == 'translate_to_top'
    assign hvr_effect = 'hvr__translate-top'
  elsif sst.hover_effect == 'overlay_bg'
    assign hvr_effect = 'hvr__overlay-bg'
  endif
-%}
{%- capture style -%}
  --section-padding-top: {{ sst.padding_top }}px; --section-padding-bottom: {{ sst.padding_bottom }}px; 
{%- endcapture -%}

<div
  class="tp-brand color-{{ sst.color_scheme }} gradient section-py section-mb"
  style="{{ style | strip | strip_newlines }}"
  id="{{ section.id }}"
  data-id="{{ section.id }}">
  <div class="{{ container }} section-full tp-brand__inner">
    {% render 'section-header'
      , sst: sst %}
    <div class="tp-brand__content">
      {%- if style_layout == 'slider' -%}
        <div
          class="swiper tp__brand-swiper hover__show-nav"
          id="tp__swiper-{{ section.id }}"
          data-section-id="{{ section.id }}"
          data-autoplay="{{ autoplay }}"
          data-loop="{{ loop }}"
          data-mobile="2"
          data-tablet="{%- if item_desktop > 4 -%}4{%- else -%}3{%- endif -%}"
          data-desktop="{{ item_desktop }}"
          data-space-between="{{ settings.spacing_grid_horizontal }}">
          <div class="swiper-wrapper">
            {%- for block in section.blocks -%}
              {% assign bst = block.settings %}
              <div class="swiper-slide " data-swiper-autoplay="5000">
                {% render 'responsive-image'
                  , image: bst.image
                  , aspect_ratio: media_aspect_ratio
                  , custom_ratio: custom_ratio
                  , images_style: images_style
                  , w_default: 220
                  , h_default: 90
                %}
              </div>
            {%- endfor -%}
          </div>
          {% render 'swiper-control'
            , class: 'brand'
            , show_bullet: show_bullet
            , show_arrow: show_arrow %}
        </div>
      {%- else -%}
        <div class="tp-brand__grid">
          <div class="tp-grid tp-grid--3-col-mobile tp-grid--4-col-tablets tp-grid--5-col-desktop justify-center">
            {%- for block in section.blocks -%}
              {% assign bst = block.settings %}
              <div class="tp-brand__items tp-grid__item {{ hvr_effect }}">
                <a href="{{ bst.link | default: "#" }}" class="block">
                  {% render 'responsive-image'
                    , image: bst.image
                    , aspect_ratio: media_aspect_ratio
                    , custom_ratio: custom_ratio
                    , images_style: images_style
                    , w_default: 220
                    , h_default: 90
                  %}
                </a>
              </div>
            {%- endfor -%}
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Brand",
    "tag": "section",
    "disabled_on": {
      "groups": ["*"]
    },
    "settings": [
      {
        "type": "header",
        "content": "Section header"
      },
      {
        "type": "checkbox",
        "id": "show_heading_header",
        "label": "Show \"Section header\"",
        "default": false
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Title"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p></p>"
      }, {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "default": "text-center",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          }, {
            "value": "text-center",
            "label": "Center"
          }, {
            "value": "text-right",
            "label": "Right"
          }
        ]
      }, {
        "type": "paragraph",
        "content": "----------------------------------------"
      }, {
        "type": "header",
        "content": "General"
      }, {
        "type": "select",
        "id": "container",
        "label": "Layout",
        "default": "container",
        "options": [
          {
            "value": "container",
            "label": "Default"
          }, {
            "value": "container-fluid",
            "label": "Fluid container"
          }, {
            "value": "full-width",
            "label": "Full width"
          }
        ]
      }, {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "accent-1"
      }, {
        "type": "header",
        "content": "Brand settings"
      }, {
        "type": "select",
        "id": "style_layout",
        "label": "Brand type",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          }, {
            "value": "slider",
            "label": "Slider"
          }
        ],
        "default": "slider"
      }, {
        "type": "select",
        "id": "hover_effect",
        "label": "Hover effect",
        "options": [
          {
            "value": "hvr_none",
            "label": "None"
          }, {
            "value": "hvr_zoom",
            "label": "Zoom"
          }, {
            "value": "translate_to_top",
            "label": "Translate to top"
          }, {
            "value": "overlay_bg",
            "label": "Overlay background"
          }
        ],
        "default": "hvr_zoom"
      }, {
        "type": "select",
        "id": "image_ratio",
        "default": "original",
        "label": "Image ratio",
        "options": [
          {
            "value": "original",
            "label": "Original aspect ratio"
          },
          {
            "value": "1/1",
            "label": "1:1"
          },
          {
            "value": "3/4",
            "label": "3:4"
          },
          {
            "value": "4/3",
            "label": "4:3"
          }, {
            "value": "16/9",
            "label": "16:9"
          }, {
            "value": "custom",
            "label": "Custom ratio"
          }
        ]
      }, {
        "type": "text",
        "id": "custom_ratio",
        "label": "Custom ratio",
        "default": "21:9"
      }, {
        "type": "header",
        "content": "Settings for slider"
      }, {
        "type": "range",
        "min": 1,
        "max": 8,
        "step": 0.5,
        "default": 6,
        "label": "Items per row",
        "id": "custom_column"
      }, {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Autoplay",
        "default": false
      }, {
        "type": "checkbox",
        "id": "loop",
        "label": "Loop",
        "default": false
      }, {
        "type": "checkbox",
        "id": "show_arrow",
        "label": "Show arrows",
        "default": false
      }, {
        "type": "checkbox",
        "id": "show_bullet",
        "label": "Show bullets",
        "default": false
      }, {
        "type": "header",
        "content": "Section padding"
      }, {
        "type": "range",
        "id": "padding_top",
        "label": "Padding top",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      }, {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      }
    ],
    "blocks": [
      {
        "type": "brand_item",
        "name": "Brand item",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Brand heading"
          }, {
            "type": "image_picker",
            "id": "image",
            "label": "Brand image"
          }, {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Brand",
        "blocks": [
          {
            "type": "brand_item"
          },
          {
            "type": "brand_item"
          },
          {
            "type": "brand_item"
          },
          {
            "type": "brand_item"
          }, {
            "type": "brand_item"
          }, {
            "type": "brand_item"
          }, {
            "type": "brand_item"
          }, {
            "type": "brand_item"
          }
        ]
      }
    ]
  }
{% endschema %}