{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}

{% liquid
  assign gst = settings
  assign container = gst.footer_container
  assign img_logo = gst.logo
  if gst.footer_logo != blank
    assign img_logo = gst.footer_logo
  endif
  assign grid_background = gst.show_background_grid
%}

{%- capture style -%}
  --section-padding-top: {{ gst.padding_top }}px; 
  --section-padding-bottom: {{ gst.padding_bottom }}px; 
{%- endcapture -%}

<footer class="footer footer-2 {% if grid_background %}background-grid{% endif %} color-{{ gst.color_scheme }} gradient section-{{ section.id }}-padding">
  <div class="footer__top {{ container }} section-py" style="{{ style | strip | strip_newlines }}">
    <div class="footer__newsletter flex justify-between items-center py-50">
      {% if gst.show_logo %}
        <div class="footer__logo">
          {%- render 'logo'
            , img_logo: img_logo
            , check_index: false -%}
        </div>
      {% endif %}
      {% for block in section.blocks %}
        {% assign bst = block.settings %}
        {% if block.type == 'newsletter' %}
          <div class="footer__newsletter-right flex items-center gap-20">
            {% if bst.description != blank %}
              <div class="newsletter__desc rsmb-p">{{ bst.description }}</div>
            {% endif %}
            {% render 'form-newsletter' %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {%- if section.blocks.size > 0 -%}
      <div class="footer__top-inner flex -mx-15">
        {%- for block in section.blocks -%}
          {% liquid
            assign bst = block.settings
            if block.type == 'link_list'
              assign classBlockItem = 'footer--menu'
            endif
          %}
          {% unless block.type == 'newsletter' %}
            <div class="footer__top-item px-15 {{ classBlockItem }}" style="--container-width: {{ bst.item_width }}%; --container-width-tablet: {{ bst.item_width_tablets }}%;">
              {%- if block.settings.heading != blank -%}
                <h4 class="footer__heading mb-16 flex items-center justify-between">
                  {{- block.settings.heading -}}
                  {% unless forloop.first %}
                    {% if block.type == 'link_list' or block.type == 'about_us' or block.type == 'payment' %}
                      <span class="icon-toggle relative"></span>
                    {% endif %}
                  {% endunless %}
                </h4>
              {%- endif -%}

              {%- case block.type -%}
                {%- when 'link_list' -%}
                  <ul class="footer__menu list-none color-heading">
                    {%- for link in block.settings.menu.links -%}
                      <li class="footer__menu-item {% if forloop.last %}mb-0{% else %}mb-20{% endif %}">
                        <a href="{{ link.url }}">
                          {{ link.title }}
                        </a>
                      </li>
                    {% else %}
                      {%- for i in (1..5) -%}
                        <li class="footer__menu-item {% if forloop.last %}mb-0{% else %}mb-20{% endif %}">
                          <a href="#">
                            {{ 'onboarding.menu_title' | t }}
                          </a>
                        </li>
                      {%- endfor -%}
                    {%- endfor -%}
                  </ul>
                {%- when 'about_us' -%}
                  {%- if block.settings.description != blank -%}
                    <div class="{% unless forloop.first %}footer__menu{% endunless %} mb-12 rsmb-p">{{ block.settings.description }}</div>
                  {%- endif -%}
                  <div>
                    {%- if settings.store_address and block.settings.show_address -%}
                      <div class="flex gap-5 mb-14 items-baseline">
                        <h5 class="min-w-[85px]">{{ 'sections.footer.open_time' | t }}:</h5>
                        <p class="mb-0">
                          {{ settings.open_time }}
                        </p>
                      </div>

                    {%- endif -%}
                    {%- if settings.store_address and block.settings.show_address -%}
                      <div class="flex gap-5 mb-14 items-baseline">
                        <h5 class="min-w-[85px]">{{ 'sections.footer.address' | t }}:</h5>
                        <p class="mb-0">
                          {{ settings.store_address }}
                        </p>
                      </div>

                    {%- endif -%}
                    {%- if settings.store_phone and block.settings.show_phone -%}
                      <div class="flex gap-5 mb-14 items-baseline">
                        <h5 class="min-w-[85px]">{{ 'sections.footer.phone' | t }}:</h5>
                        <p class="mb-0">
                          <a href="tel:{{ settings.store_phone }}" class="">
                            {{ settings.store_phone }}
                          </a>
                        </p>
                      </div>
                    {%- endif -%}
                    {%- if settings.store_email and block.settings.show_email -%}
                      <div class="flex gap-5 mb-14 items-baseline">
                        <h5 class="min-w-[85px]">{{ 'sections.footer.email' | t }}:</h5>
                        <p class="mb-0">
                          <a href="mailto:{{ settings.store_email }}" class="">
                            {{ settings.store_email }}
                          </a>
                        </p>
                      </div>
                    {%- endif -%}
                  </div>
                {% when 'payment' %}
                  {%- if gst.payment_enable -%}
                    <div class="footer__bottom-payment footer__menu">
                      <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
                      <ul class="list list-payment" role="list">
                        {%- for type in shop.enabled_payment_types -%}
                          <li class="list-payment__item">
                            {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  {%- endif -%}
              {%- endcase -%}
            </div>
          {% endunless %}
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
  {% if gst.copyright != blank or gst.payment_enable or gst.show_social_media_icons %}
    <div class="footer__bottom  color-{{ gst.color_scheme_ftb }} gradient">
      <div class="footer__bottom-wrapper {{ container }} flex items-center {% if gst.show_social_media_icons %} justify-between{% else %}justify-center{% endif %}">
        {% if gst.copyright != blank %}
          <div class="footer__bottom-copyright py-28">
            <div class="rsmb-p">{{ gst.copyright }}</div>
          </div>
        {% endif %}
        {%- if gst.show_social_media_icons -%}
          <div class="footer__bottom-social flex items-center gap-24">
            <div class="social-label">{{ 'general.social.text_label' | t }}</div>
            {%- render 'social-icons' -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  {% endif %}
</footer>


{% schema %}
  {
    "name": "Footer 2",
    "enabled_on": {
      "groups": ["footer"]
    },
    "limit": 1,
    "blocks": [
      {
        "type": "newsletter",
        "name": "Newsletter",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Sign Up to Newsletter"
          }, {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>Enter your email address to get $10 off your first order and free shipping. Updates information on Sales and Offers.</p>"
          }, {
            "type": "range",
            "id": "item_width",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Width item desktop",
            "default": 25
          }, {
            "type": "range",
            "id": "item_width_tablets",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Width item tablets",
            "default": 25
          }
        ]
      }, {
        "type": "about_us",
        "name": "About",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "header",
            "content": "Contact information",
            "info": "Go to \"Theme settings > \" to update these information."
          },
          {
            "type": "checkbox",
            "id": "show_address",
            "label": "Show address",
            "default": false
          }, {
            "type": "checkbox",
            "id": "show_phone",
            "label": "Show phone number",
            "default": false
          }, {
            "type": "checkbox",
            "id": "show_email",
            "label": "Show email",
            "default": false
          }, {
            "type": "checkbox",
            "id": "show_open_time",
            "label": "Show open time",
            "default": false
          }, {
            "type": "range",
            "id": "item_width",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Width item desktop",
            "default": 25
          }, {
            "type": "range",
            "id": "item_width_tablets",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Width item tablets",
            "default": 25
          }
        ]
      }, {
        "type": "link_list",
        "name": "t:sections.footer.blocks.link_list.name",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "heading",
            "default": "Quick links",
            "label": "t:sections.footer.blocks.link_list.settings.heading.label"
          }, {
            "type": "link_list",
            "id": "menu",
            "default": "footer",
            "label": "t:sections.footer.blocks.link_list.settings.menu.label",
            "info": "t:sections.footer.blocks.link_list.settings.menu.info"
          }, {
            "type": "range",
            "id": "item_width",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Width item desktop",
            "default": 25
          }, {
            "type": "range",
            "id": "item_width_tablets",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Width item tablets",
            "default": 25
          }
        ]
      }, {
        "name": "Payment",
        "type": "payment",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Payment"
          }, {
            "type": "range",
            "id": "item_width",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Width item desktop",
            "default": 25
          }, {
            "type": "range",
            "id": "item_width_tablets",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Width item tablets",
            "default": 25
          }
        ]
      }
    ],
    "settings": [],
    "presets": [
      {
        "name": "Footer 2",
        "blocks": [
          {
            "type": "about_us",
            "settings": {
              "heading": "Contact info",
              "description": "",
              "show_address": true,
              "show_phone": true,
              "show_email": false,
              "show_open_time": true,
              "item_width": 25,
              "item_width_tablets": 100
            }
          },
          {
            "type": "link_list",
            "settings": {
              "heading": "Quick links",
              "menu": "about-us",
              "item_width": 16,
              "item_width_tablets": 33
            }
          },
          {
            "type": "link_list",
            "settings": {
              "heading": "My account",
              "menu": "my-account",
              "item_width": 17,
              "item_width_tablets": 33
            }
          },
          {
            "type": "link_list",
            "settings": {
              "heading": "Help center",
              "menu": "help-center",
              "item_width": 17,
              "item_width_tablets": 33
            }
          }, {
            "type": "newsletter",
            "settings": {
              "heading": "Sign Up to Newsletter",
              "description": "<p>15% OFF your order when you sign-up to our emails<\/p>",
              "item_width": 25,
              "item_width_tablets": 100
            }
          }, {
            "type": "payment",
            "settings": {
              "heading": "Payment",
              "item_width": 25,
              "item_width_tablets": 50
            }
          }
        ]
      }
    ]
  }
{% endschema %}