<script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
{{ 'section-password.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign gst = settings
  assign sst = section.settings
  assign container = sst.container
  assign img_logo = gst.logo
  if request.page_type == 'index'
    assign check_index = true
  endif
-%}
{%- capture style -%}
  --section-padding-top: {{ sst.padding_top }}px; --section-padding-bottom: {{ sst.padding_bottom }}px;
{%- endcapture -%}
<div class="tp-password color-{{ sst.color_scheme }} gradient section-py section-mb" style="{{ style | strip | strip_newlines }}">
  <div class="{{ container }}">
    <div class="password-header flex items-center justify-between py-32">
      {%- render 'logo'
        , img_logo: img_logo
        , check_index: check_index -%}
      {%- if shop.password_message != blank -%}
        <div class="password-content">
          {{ shop.password_message }}
        </div>
      {%- endif -%}
      <div class="password-modal">
        <h5 class="modal__toggle-open flex items-center gap-4 font-medium cursor-pointer">
          {% render 'icon'
            , icon_name: 'icon-padlock' %}
          {{ 'general.password_page.login_password_button' | t }}
        </h5>
        <div class="password-modal__content fixed inset-0 text-center hidden">
          <div class="content-inner animation-password absolute inset-0 m-auto" tabindex="-1">
            <span class="password-modal__close cursor-pointer tp-icon-close absolute top-0 right-0 p-10">
              {% render 'icon'
                , icon_name: 'close'
                , width: 15
                , height: 15 %}
            </span>
            <h3 class="password-modal__content-heading" id="DialogHeading">
              {{ 'general.password_page.login_form_heading' | t }}
            </h3>
            {%- form 'storefront_password'
              , class: 'password-form' -%}
              <div class="flex items-center justify-center gap-4 mb-16">
                <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
                  <input
                    type="password"
                    name="password"
                    id="Password"
                    class="field__input"
                    autocomplete="current-password"
                    {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                    {%- endif -%}
                    placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
                  {%- if form.errors -%}
                    <div class="tp-form-message--error">
                      <div id="PasswordLoginForm-password-error" role="status">
                        <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                        <span class="form__message">
                          {%- render 'icon'
                            , icon_name: 'icon-error' %}
                          {{ 'general.password_page.login_form_error' | t -}}
                        </span>
                      </div>
                    </div>
                  {%- endif -%}
                </div>
                <button name="commit" class="password-button tp-btn tp-btn__primary">
                  {{ 'general.password_page.login_form_submit' | t }}
                </button>
              </div>


            {%- endform -%}
            <small class="password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
          </div>
        </div>

      </div>
    </div>
    <div class="tp-password__content">
      <div class="content-wrapper text-center">
        {% if sst.heading != blank or sst.description != blank %}
          <div class="content-top mb-20">
            {% if sst.heading != blank %}
              <h2>{{ sst.heading }}</h2>
            {% endif %}
            {% if sst.description != blank %}
              <div>{{ sst.description }}</div>
            {% endif %}
          </div>
        {% endif %}
        <div class="content-form mb-20">
          {% render 'form-newsletter' %}
        </div>
        {%- render 'social-icons' -%}
      </div>
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Password",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.main-password-header.settings.logo_header.content"
      },
      {
        "type": "paragraph",
        "content": "t:sections.main-password-header.settings.logo_help.content"
      },
      {
        "type": "select",
        "id": "container",
        "label": "Layout",
        "default": "container",
        "options": [
          {
            "value": "container",
            "label": "Default"
          }, {
            "value": "container-fluid",
            "label": "Fluid container"
          }, {
            "value": "full-width",
            "label": "Full width"
          }
        ]
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-1"
      }, {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Heading"
      }, {
        "type": "richtext",
        "id": "description",
        "label": "Description"
      }
    ]
  }
{% endschema %}