{% liquid
  assign sst = section.settings
  assign container = sst.container
%}
{%- capture style -%}
  --section-padding-top: {{ sst.padding_top }}px; 
  --section-padding-bottom: {{ sst.padding_bottom }}px; 
{%- endcapture -%}
<div
  class="color-{{ sst.color_scheme }} gradient section-py {% if sst.reset_spacing == false %}section-mb{% endif %}"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ container }}">
    {% comment %} <h1 class="main-page-title page-title h2">
      {{ page.title | escape }}
    </h1> {% endcomment %}
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Layout",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Default"
        },
        {
          "value": "container-fluid",
          "label": "Fluid container"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "checkbox",
      "id": "reset_spacing",
      "label": "Remove default space between sections",
      "default": false
    },
    {
      "type": "paragraph",
      "content": "----------------------------------------"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    }
  ]
}
{% endschema %}
