{{ 'customer.css' | asset_url | stylesheet_tag }}
{% liquid
  assign sst = section.settings
%}
{%- capture style -%}
  --section-padding-top: {{ sst.padding_top }}px; --section-padding-bottom: {{ sst.padding_bottom }}px;
{%- endcapture -%}

<div class="{{ sst.container }}">
  <div
    class="customer account customer-account section-py section-{{ section.id }}-padding"
    style="{{ style | strip | strip_newlines }}"
  >
    <div class="customer-account__wrapper flex md:flex-row flex-col">
      <div class="customer-account__left customer-sidebar md:w-1/4">
        <div class="customer-account__top">
          <h2 class="h2">{{ 'customer.account.title' | t }}</h2>
        </div>
        <div class="Dashbroad left-0 top-0 leading-tight mb-12 activate">
          <a href="/account">
          {{ 'customer.account.dashboard' | t }}
          </a>
        </div>
        <div class="Addresses left-0 text-base leading-tight mb-12">
          <a href="{{ routes.account_addresses_url }}">
            {{ 'customer.account.addresses' | t }}
          </a>
        </div>
        <div class="Wishlist left-0 leading-tight mb-12">
          <a href="/pages/wishlist">
            {{ 'customer.account.wishlist' | t }}
          </a>
        </div>
        <div class="Cart left-0 leading-tight mb-12">
          <a href="{{ routes.cart_url }}">
            {{ 'customer.account.cart' | t }}
          </a>
        </div>
        <div class="LogOut left-0 leading-tight mb-12">
          <a href="{{ routes.account_logout_url }}">
            {{ 'customer.log_out' | t }}
          </a>
        </div>
      </div>
      <div class="customer-account__right md:w-full md:pl-30 pl-0">
        {% comment %}Right content area{% endcomment %}
        <div>
          {% comment %}Account details{% endcomment %}
          <div>
            <h3>{{ 'customer.account.details' | t }}</h3>

            <div class="customer-account__info mb-15">
              <div class="flex flex-col">
                <div
                  class="flex flex-row items-center justify-start border-solid border-b border-spacing-1 pb-10 mb-10"
                  style="border-color: #E4E4E4"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 16 21" fill="none">
                    <path d="M11.25 5C11.25 6.79493 9.79493 8.25 8 8.25V9.75C10.6234 9.75 12.75 7.62335 12.75 5H11.25ZM8 8.25C6.20507 8.25 4.75 6.79493 4.75 5H3.25C3.25 7.62335 5.37665 9.75 8 9.75V8.25ZM4.75 5C4.75 3.20507 6.20507 1.75 8 1.75V0.25C5.37665 0.25 3.25 2.37665 3.25 5H4.75ZM8 1.75C9.79493 1.75 11.25 3.20507 11.25 5H12.75C12.75 2.37665 10.6234 0.25 8 0.25V1.75ZM5 12.75H11V11.25H5V12.75ZM11 19.25H5V20.75H11V19.25ZM5 19.25C3.20507 19.25 1.75 17.7949 1.75 16H0.25C0.25 18.6234 2.37665 20.75 5 20.75V19.25ZM14.25 16C14.25 17.7949 12.7949 19.25 11 19.25V20.75C13.6234 20.75 15.75 18.6234 15.75 16H14.25ZM11 12.75C12.7949 12.75 14.25 14.2051 14.25 16H15.75C15.75 13.3766 13.6234 11.25 11 11.25V12.75ZM5 11.25C2.37665 11.25 0.25 13.3766 0.25 16H1.75C1.75 14.2051 3.20507 12.75 5 12.75V11.25Z" fill="#111111"/>
                  </svg>
                  <div class="ml-10">{{ customer.name }}</div>
                </div>
                <div class="flex flex-row items-center justify-start">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 22 20" fill="none">
                    <path d="M1.60805 3.64824C1 4.93577 1 6.77405 1 10C1 13.7497 1 15.6246 1.95491 16.9389C2.26331 17.3634 2.6366 17.7367 3.06107 18.0451C4.3754 19 6.25027 19 10 19H12C15.7497 19 17.6246 19 18.9389 18.0451C19.3634 17.7367 19.7367 17.3634 20.0451 16.9389C21 15.6246 21 13.7497 21 10C21 6.75125 21 4.90985 20.379 3.62103M1.60805 3.64824C1.70677 3.4392 1.82153 3.24467 1.95491 3.06107C2.26331 2.6366 2.6366 2.26331 3.06107 1.95491C4.3754 1 6.25027 1 10 1H12C15.7497 1 17.6246 1 18.9389 1.95491C19.3634 2.26331 19.7367 2.6366 20.0451 3.06107C20.1727 3.23667 20.2832 3.42228 20.379 3.62103M1.60805 3.64824L2 4L3.92893 5.92893C7.26227 9.26227 8.92893 10.9289 11 10.9289C13.0711 10.9289 14.7377 9.26227 18.0711 5.92894L20 4L20.379 3.62103" stroke="#272829" stroke-width="1.5"/>
                  </svg>
                  <div class="ml-10">{{ customer.email }}</div>
                </div>
              </div>
            </div>
            {% comment %}{{ customer.default_address | format_address }}{% endcomment %}
          </div>

          {% comment %}Order history{% endcomment %}
          <div>
            <h3>{{ 'customer.orders.title' | t }}</h3>

            {% paginate customer.orders by 20 %}
              {%- if customer.orders.size > 0 -%}
                <table role="table" class="order-history">
                  <caption class="visually-hidden">
                    {{ 'customer.orders.title' | t }}
                  </caption>
                  <thead role="rowgroup">
                    <tr role="row">
                      <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                      <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                      <th id="ColumnPayment" scope="col" role="columnheader">
                        {{ 'customer.orders.payment_status' | t }}
                      </th>
                      <th id="ColumnFulfillment" scope="col" role="columnheader">
                        {{ 'customer.orders.fulfillment_status' | t }}
                      </th>
                      <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
                    </tr>
                  </thead>
                  <tbody role="rowgroup">
                    {%- for order in customer.orders -%}
                      <tr role="row">
                        <td
                          id="RowOrder"
                          role="cell"
                          headers="ColumnOrder"
                          data-label="{{ 'customer.orders.order_number' | t }}"
                        >
                          <a
                            href="{{ order.customer_url }}"
                            aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                          >
                            {{ order.name }}
                          </a>
                        </td>
                        <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                          {{ order.created_at | time_tag: format: 'date' }}
                        </td>
                        <td
                          headers="RowOrder ColumnPayment"
                          role="cell"
                          data-label="{{ 'customer.orders.payment_status' | t }}"
                        >
                          {{ order.financial_status_label }}
                        </td>
                        <td
                          headers="RowOrder ColumnFulfillment"
                          role="cell"
                          data-label="{{ 'customer.orders.fulfillment_status' | t }}"
                        >
                          {{ order.fulfillment_status_label }}
                        </td>
                        <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                          {{ order.total_net_amount | money_with_currency }}
                        </td>
                      </tr>
                    {%- endfor -%}
                  </tbody>
                </table>
              {%- else -%}
                <p>{{ 'customer.orders.none' | t }}</p>
              {%- endif -%}

              {%- if paginate.pages > 1 -%}
                {%- if paginate.parts.size > 0 -%}
                  <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                    <ul role="list">
                      {%- if paginate.previous -%}
                        <li>
                          <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                            <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                                    fill="currentColor"></path>
                            </svg>
                          </a>
                        </li>
                      {%- endif -%}

                      {%- for part in paginate.parts -%}
                        <li>
                          {%- if part.is_link -%}
                            <a
                              href="{{ part.url }}"
                              aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
                            >
                              {{- part.title -}}
                            </a>
                          {%- else -%}
                            {%- if part.title == paginate.current_page -%}
                              <span
                                aria-current="page"
                                aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
                              >
                                {{- part.title -}}
                              </span>
                            {%- else -%}
                              <span>{{ part.title }}</span>
                            {%- endif -%}
                          {%- endif -%}
                        </li>
                      {%- endfor -%}

                      {%- if paginate.next -%}
                        <li>
                          <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                            <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                                    fill="currentColor"></path>
                            </svg>
                          </a>
                        </li>
                      {%- endif -%}
                    </ul>
                  </nav>
                {%- endif -%}
              {%- endif -%}
            {% endpaginate %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "select",
      "id": "container",
      "label": "Layout",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Default"
        },
        {
          "value": "container-fluid",
          "label": "Fluid container"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
