<script src="{{ 'testimonial.js' | asset_url }}" defer="defer"></script>
{{ 'testimonial.css' | asset_url | stylesheet_tag }}
{% comment %}include file css section {% endcomment %}

{% liquid
  assign gst = settings
  assign sst = section.settings
  assign container = sst.container
  assign loop = sst.loop
  assign autoplay = sst.autoplay
  assign show_heading_header = sst.show_heading_header
  assign heading = sst.heading
  assign grid_background = sst.show_background_grid
%}
{%- capture style -%}
  --section-padding-top: {{ sst.padding_top }}px; 
  --section-padding-bottom: {{ sst.padding_bottom }}px; 
  --section-padding-top-tb: {{ sst.padding_top_tb }}px; 
  --section-padding-bottom-tb: {{ sst.padding_bottom_tb }}px;
  --section-padding-top-mb: {{ sst.padding_top_mb }}px; 
  --section-padding-bottom-mb: {{ sst.padding_bottom_mb }}px;
{%- endcapture -%}

<div class="tp-testimonial color-{{ sst.color_scheme }} gradient {% if grid_background %}background-grid{% endif %} section-py {% if sst.reset_spacing == false %}section-mb{% endif %}" style="{{ style | strip | strip_newlines }}">
  <div class="{{ container }} section-full">
    {%- if show_heading_header -%}
      {%- if heading != blank or sst.description != blank -%}
        <div class="tp-section-header mb-40">
          {% if heading != blank %}
            <div class="flex items-center justify-between flex-wrap mb-20 ">
              {%- if heading != blank -%}
                <h2 class="tp-section-heading mb-0">
                  {{ heading }}
                </h2>
              {%- endif -%}
              <div class="flex items-center gap-20">
                <div class="flex items-center gap-10">
                  <div class="swiper-navigation shadow swiper-prev-prd-recom swiper-button-prev">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="21"
                      viewBox="0 0 20 21"
                      fill="none">
                      <path d="M17.5 9.66895H4.15625L9.46875 4.2627C9.75 3.98145 9.75 3.54395 9.46875 3.2627C9.1875 2.98145 8.75 2.98145 8.46875 3.2627L2 9.8252C1.71875 10.1064 1.71875 10.5439 2 10.8252L8.46875 17.3877C8.59375 17.5127 8.78125 17.6064 8.96875 17.6064C9.15625 17.6064 9.3125 17.5439 9.46875 17.4189C9.75 17.1377 9.75 16.7002 9.46875 16.4189L4.1875 11.0752H17.5C17.875 11.0752 18.1875 10.7627 18.1875 10.3877C18.1875 9.98144 17.875 9.66895 17.5 9.66895Z" fill="#A3AEB9" />
                    </svg>
                  </div>
                  <div class="swiper-navigation shadow swiper-next-prd-recom swiper-button-next">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="21"
                      viewBox="0 0 20 21"
                      fill="none">
                      <path d="M18 9.85645L11.5312 3.29395C11.25 3.0127 10.8125 3.0127 10.5312 3.29395C10.25 3.5752 10.25 4.0127 10.5312 4.29395L15.7812 9.6377H2.5C2.125 9.6377 1.8125 9.95019 1.8125 10.3252C1.8125 10.7002 2.125 11.0439 2.5 11.0439H15.8437L10.5312 16.4502C10.25 16.7314 10.25 17.1689 10.5312 17.4502C10.6562 17.5752 10.8437 17.6377 11.0312 17.6377C11.2187 17.6377 11.4062 17.5752 11.5312 17.4189L18 10.8564C18.2812 10.5752 18.2812 10.1377 18 9.85645Z" fill="#A3AEB9" />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          {% if sst.description != blank %}
            <div class="flex items-center justify-between flex-wrap mb-20 ">
              {{ sst.description }}
            </div>
          {% endif %}
        </div>
      {%- endif -%}
    {%- endif -%}
    <div
      class="tp-testimonial__inner swiper hover__show-nav"
      id="tp__swiper-{{ section.id }}"
      data-section-id="{{ section.id }}"
      data-autoplay="{{ autoplay }}"
      data-loop="{{ loop }}"
      data-mobile="1"
      data-tablet=" 1"
      data-desktop="{{ sst.sliders_perview }}"
      data-space-between="{{ gst.spacing_grid_horizontal }}">
      <div class="swiper-wrapper">
        {%- for block in section.blocks limit: sst.limit_products -%}
          {% liquid
            assign bst = block.settings
          %}
          <div class="swiper-slide">

            {% if sst.layout == 'layout_1' %}
              <div class="layout_1 color-{{ bst.color_scheme_item }} gradient flex items-center flex-col md:flex-row gap-30">
                {% if sst.show_image %}
                  <div class="tp-testimonial__image w-full md:w-1/2">
                    <div class="relative mb-12">
                      {% render 'responsive-image'
                        , image: bst.image
                        , aspect_ratio: sst.image_ratio
                        , custom_ratio: sst.custom_ratio
                        , class: 'h-full'
                        , w_default: 280
                        , h_default: 300
                      %}
                    </div>
                  </div>
                {% endif %}
                <div class="tp-st-location__content w-full md:w-1/2 pt-30 pl-30 relative">
                  <span class="icon-content absolute top-0 left-0">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="126"
                      height="91"
                      viewBox="0 0 126 91"
                      fill="none">
                      <g opacity="0.1">
                        <path d="M0.554688 36.1726H54.653V90.271H0.554688V36.1726Z" fill="#155AFA" />
                        <path d="M0.554688 36.1726H27.6039L44.817 0.270996H17.7678L0.554688 36.1726Z" fill="#155AFA" />
                        <path d="M71.8672 36.1726H125.966V90.271H71.8672V36.1726Z" fill="#155AFA" />
                        <path d="M71.8672 36.1726H98.9164L116.129 0.270996H89.0803L71.8672 36.1726Z" fill="#155AFA" />
                      </g>
                    </svg>
                  </span>
                  {% if bst.title != blank %}
                    <h5 class="mb-0 color-primary italic">{{ bst.title }}</h5>
                  {% endif %}
                  {% if bst.content != blank %}
                    <div class="mb-24 italic desc-testi">
                      {{ bst.content }}
                    </div>
                  {% endif %}
                  <div class="content-bottom pl-16 bdl-2">
                    {% if bst.name != blank %}
                      <h5>{{ bst.name }}</h5>
                    {% endif %}
                    {% if bst.city != blank %}
                      <span>{{ bst.city }}</span>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% else %}
              <div class="layout_2 text-center flex items-center flex-col md:flex-row">
                <div class="tp-testimonial__wrapper color-{{ bst.color_scheme_item }} gradient  p-30 mb-30">
                  <div class="testi-top">
                    <div class="testi-title flex items-center justify-center gap-5 mb-10">
                      <div class="testi-star flex items-center gap-2">
                        {% render 'icon'
                          , icon_name: 'star' %}
                        {% render 'icon'
                          , icon_name: 'star' %}
                        {% render 'icon'
                          , icon_name: 'star' %}
                        {% render 'icon'
                          , icon_name: 'star' %}
                        {% render 'icon'
                          , icon_name: 'star' %}
                      </div>
                      {% if bst.title != blank %}
                        <h5 class="mb-0">{{ bst.title }}</h5>
                      {% endif %}
                    </div>
                    {% if bst.content != blank %}
                      <div class="testi-desc rsmb-p">
                        {{ bst.content }}
                      </div>
                    {% endif %}
                  </div>

                </div>
                {% if sst.show_image %}
                  <div class="tp-testimonial__image mb-15">
                    <div class="relative">
                      {% render 'responsive-image'
                        , image: bst.image
                        , aspect_ratio: sst.image_ratio
                        , custom_ratio: sst.custom_ratio
                        , class: 'h-full'
                        , w_default: 280
                        , h_default: 300
                      %}
                    </div>
                  </div>
                {% endif %}
                <div class="content-bottom">
                  {% if bst.name != blank %}
                    <h5 class="mb-4">{{ bst.name }}</h5>
                  {% endif %}
                  {% if bst.city != blank %}
                    <span>{{ bst.city }}</span>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Testimonial",
    "tag": "section",
    "disabled_on": {
      "groups": ["*"]
    },
    "settings": [
      {
        "type": "header",
        "content": "Section header"
      },

      {
        "type": "checkbox",
        "id": "show_heading_header",
        "label": "Show \"Section header\"",
        "default": false
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Title"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p></p>"
      }, {
        "type": "paragraph",
        "content": "----------------------------------------"
      }, {
        "type": "header",
        "content": "General"
      }, {
        "type": "select",
        "id": "container",
        "label": "Layout",
        "default": "container",
        "options": [
          {
            "value": "container",
            "label": "Default"
          }, {
            "value": "container-fluid",
            "label": "Fluid container"
          }, {
            "value": "full-width",
            "label": "Full width"
          }
        ]
      }, {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-1"
      }, {
        "type": "checkbox",
        "id": "show_background_grid",
        "label": "Show background grid",
        "default": false
      }, {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "layout_2",
        "options": [
          {
            "value": "layout_1",
            "label": "Layout 1"
          }, {
            "value": "layout_2",
            "label": "Layout 2"
          }
        ]
      }, {
        "type": "select",
        "id": "image_ratio",
        "default": "original",
        "label": "Image ratio",
        "options": [
          {
            "value": "original",
            "label": "Original aspect ratio"
          },
          {
            "value": "1/1",
            "label": "1:1"
          },
          {
            "value": "3/4",
            "label": "3:4"
          },
          {
            "value": "4/3",
            "label": "4:3"
          }, {
            "value": "16/9",
            "label": "16:9"
          }, {
            "value": "custom",
            "label": "Custom ratio"
          }
        ]
      }, {
        "type": "text",
        "id": "custom_ratio",
        "label": "Custom ratio",
        "default": "21:9"
      }, {
        "type": "checkbox",
        "id": "show_image",
        "label": "Show image",
        "default": true
      }, {
        "type": "header",
        "content": "Slider settings"
      }, {
        "type": "range",
        "id": "limit_products",
        "label": "Products to show",
        "min": 1,
        "max": 20,
        "step": 1,
        "default": 8
      }, {
        "type": "select",
        "id": "sliders_perview",
        "label": "Sliders perview (desktop)",
        "options": [
          {
            "value": "1",
            "label": "1"
          }, {
            "value": "2",
            "label": "2"
          }, {
            "value": "3",
            "label": "3"
          }
        ],
        "default": "1"
      }, {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Autoplay",
        "default": false
      }, {
        "type": "checkbox",
        "id": "loop",
        "label": "Loop",
        "default": false
      }, {
        "type": "paragraph",
        "content": "----------------------------------------"
      }, {
        "type": "header",
        "content": "Section padding"
      }, {
        "type": "header",
        "content": "Desktop"
      }, {
        "type": "range",
        "id": "padding_top",
        "label": "Padding top",
        "default": 90,
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px"
      }, {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "default": 100,
        "min": 0,
        "max": 500,
        "step": 10,
        "unit": "px"
      }, {
        "type": "header",
        "content": "Tablet"
      }, {
        "type": "range",
        "id": "padding_top_tb",
        "label": "Padding top",
        "default": 50,
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px"
      }, {
        "type": "range",
        "id": "padding_bottom_tb",
        "label": "Padding bottom",
        "default": 50,
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px"
      }, {
        "type": "header",
        "content": "Mobile"
      }, {
        "type": "range",
        "id": "padding_top_mb",
        "label": "Padding top",
        "default": 15,
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px"
      }, {
        "type": "range",
        "id": "padding_bottom_mb",
        "label": "Padding bottom",
        "default": 15,
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px"
      }, {
        "type": "paragraph",
        "content": "---------------------"
      }, {
        "type": "checkbox",
        "id": "reset_spacing",
        "label": "Remove default space between sections",
        "default": false
      }
    ],
    "blocks": [
      {
        "name": "Testimonial",
        "type": "testimonial_item",
        "settings": [
          {
            "type": "color_scheme",
            "id": "color_scheme_item",
            "label": "t:sections.all.colors.label",
            "default": "background-2"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "default": "Title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Good quality and print for the training shirts I use at my martial arts school. I've ordered these several times and have always been pleased with the results. They're still going strong.</p>"
          }, {
            "type": "text",
            "id": "name",
            "label": "Name",
            "default": "BrandonJr"
          }, {
            "type": "text",
            "id": "city",
            "label": "City",
            "default": "New York, USA"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonial",
        "blocks": [
          {
            "type": "testimonial_item"
          }, {
            "type": "testimonial_item"
          }, {
            "type": "testimonial_item"
          }, {
            "type": "testimonial_item"
          }
        ]
      }
    ]
  }
{% endschema %}